In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
AL = "Arable_Land.csv"
AL_df = pd.read_csv(AL)

AL_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN
1,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,11.717673,11.794259,11.870845,11.947431,11.947431,...,11.936709,11.936709,11.933646,11.932114,11.924455,11.903011,11.893821,11.838679,NaN,NaN
2,Angola,AGO,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,2.141654,2.165717,2.181760,2.205823,2.221866,...,3.208470,3.288682,3.769953,3.769953,3.930376,3.930376,3.930376,3.930376,NaN,NaN
3,Albania,ALB,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,15.766423,15.912409,16.058394,16.167883,16.788321,...,22.226277,22.846715,22.700730,22.594890,22.521897,22.467152,22.448904,22.638686,NaN,NaN
4,Andorra,AND,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,2.127660,2.127660,2.127660,2.127660,2.127660,...,1.638298,1.638298,1.638298,1.617021,1.723404,1.723404,1.723404,1.659574,NaN,NaN

In [3]:
# Create a filtered dataframe from specific columns
AL_cols = ["Country Code", "Country Name", "2016"]
AL_transformed= AL_df[AL_cols].copy()

# Rename the column headers
AL_transformed =AL_transformed.rename(columns={"Country Code": "Country_Code", "Country Name": "Country_Name", "2016": "arable_land",
                                                          })

# Clean the data by dropping duplicates and setting the index
AL_transformed.drop_duplicates("Country_Name", inplace=True)
AL_transformed.set_index("Country_Name", inplace=True)
AL_transformed.dropna(inplace=True)
AL_transformed

                               Country_Code  arable_land
Country_Name
Aruba                                   ABW    11.111111
Afghanistan                             AFG    11.838679
Angola                                  AGO     3.930376
Albania                                 ALB    22.638686
Andorra                                 AND     1.659574
Arab World                              ARB     3.515606
United Arab Emirates                    ARE     0.626584
Argentina                               ARG    14.323873
Armenia                                 ARM    15.679663
American Samoa                          ASM    15.000000
Antigua and Barbuda                     ATG     9.090909
Australia                               AUS     5.986464
Austria                                 AUT    16.292307
Azerbaijan                              AZE    24.180477
Burundi                                 BDI    46.728972
Belgium                                 BEL    28.051520
Benin                                   BEN    23.944661
Burkina Faso                            BFA    21.929825
Bangladesh                              BGD    59.646692
Bulgaria                                BGR    32.203390
Bahrain                                 BHR     2.056555
Bahamas, The                            BHS     0.799201
Bosnia and Herzegovina                  BIH    20.039062
Belarus                                 BLR    28.000668
Belize                                  BLZ     3.419553
Bermuda                                 BMU     5.555556
Bolivia                                 BOL     4.110588
Brazil                                  BRA     9.688280
Barbados                                BRB    16.279070
Brunei Darussalam                       BRN     0.948767
...                                     ...          ...
Syrian Arab Republic                    SYR    25.388008
Turks and Caicos Islands                TCA     1.052632
Chad                                    TCD     3.891360
Togo                                    TGO    48.722192
Thailand                                THA    32.903365
Latin America & the Caribbean           TLA     8.641392
Timor-Leste                             TLS    10.423672
Tonga                                   TON    25.000000
Trinidad and Tobago                     TTO     4.873294
Tunisia                                 TUN    18.666323
Turkey                                  TUR    26.481556
Tanzania                                TZA    15.240461
Uganda                                  UGA    34.410533
Ukraine                                 UKR    56.579606
Upper middle income                     UMC     9.049509
Uruguay                                 URY    13.773284
United States                           USA    16.645404
Uzbekistan                              UZB    10.343206
St. Vincent and the Grenadines          VCT    12.820513
Venezuela, RB                           VEN     3.061051
British Virgin Islands                  VGB     6.666667
Virgin Islands                          VIR     2.857143
Vietnam                                 VNM    22.569097
Vanuatu                                 VUT     1.640689
World                                   WLD    11.059792
Samoa                                   WSM     2.826855
Yemen, Rep.                             YEM     2.363771
South Africa                            ZAF    10.304264
Zambia                                  ZMB     5.111718
Zimbabwe                                ZWE    10.339925

[239 rows x 2 columns]

In [6]:
engine = create_engine('mysql+mysqlconnector://root:alAlem@localhost:3306/Happiness_Indicators_2016')

In [7]:
# Confirm tables
engine.table_names()

['intellectual_property_transformed']

In [11]:
AL_transformed.to_sql(name='arable_land', con=engine, if_exists='append', index=True)